<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Formica Profile Test Suite" parallel="tests" thread-count="2">
    <parameter name="browser" value="chrome"/>

    <test name="Zafer UI Test Automation">
        <classes>
            <class name="com.zafer.test.AppointmentTests"/>
        </classes>
    </test>

</suite>
